html {
    min-height: 100vh;
}
body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}
.body {
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto;

    background-color: white;
    font-family: helvetica;

    display: grid;
    grid-auto-rows: auto 1fr auto;
    grid-gap: 5px;
    border-left: 2px solid darkgrey;
    border-right: 2px solid darkgrey;
}

header {
    display: grid;
    grid-auto-rows: 1fr auto;
    grid-gap: 0px;
    text-align: center;
}

#title {
    width: 100%;
    margin: 0px;
    padding: 0px;

}

@media (max-width: 900px) {
    #title {
        font-size: 55px;
    }
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    background-color: #2158b2;
    text-align: center;
    transition: 0.5s;
}

@media (max-width: 900px) {
    nav {
        grid-template-columns: 1fr;

    }
}

@media (max-width: 900px) {
    nav > a {
        border-bottom: 1px solid black;
    }
}

@media (max-width: 900px) {
    header {
        grid-auto-rows: 1fr auto;
    }
}

nav a {
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
nav > #headertext {
    color: white;
    padding: 5px 40px;
    background-color: green;

}
nav > a:hover {
    background-color: #457bd3;
    transition: 0.5s;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;


}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.sp6 {
    grid-column: span 6;


}
.sp4 {
    grid-column: span 4;


}

.sp3 {
    grid-column: span 3;


}

.sp2 {
    grid-column: span 2;


}
@media (max-width: 900px) {
    .sp6, .sp4, .sp3, .sp2 {
        grid-column: span 6;
    }
}

.ad img {
    width: 100%;
}


.ad {
   padding: 5px;
   margin-bottom: 2px;
   border: 1px solid black;
   border-radius: 2px;
   transition: 0.1s;
 }
 .ad:hover{
   border: 1px solid green;
   transition: 0.1s;
 }
.ad p {
    margin: 5px 0;
    padding: 0;
    font-size: 16px;
}

.ad h3 {
    margin: 5px 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
}

footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    display-items: center;
    background-color: beige;s
    grid-gap: 5px;
}
#undernav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
