body{
  font-family: helvetica, sans-serif;
  background-color: darkorange;
}
div{
  background-color: white;
  padding-left: 10px;
  }
section{
  grid-gap: 4px;
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(18,1fr);
  grid-auto-rows: minmax(40px, auto);
}
.span-6{
  grid-column: span 6;
}
.usynlig{
  opacity: 0;
}
bottomgrid{
  grid-gap: 4px;
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(18,1fr);
  grid-auto-rows: minmax(40px, auto);
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
}
bottombottomgrid{
  grid-gap: 4px;
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(18,1fr);
  grid-auto-rows: minmax(40px, auto);
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
}
.ikke-metall{
  background-color: red;
}
.halvmetall{
  background-color: green;
}
.metall{
  background-color: blue;
}
