.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 10px;
  border-color: black;
  border-style: solid;
  grid-template-rows: repeat(5,1fr);
}
.border{
  border-color: black;
  border-style: solid;
}
.color:active{
background-color: green;
}
